.chartDataForm {
  margin-left: 2vh;
  max-width: 40%;
}

.formGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  .inputControl {
    flex: 1 1 auto;
    display: block;
    margin-bottom: 10px;
    margin-right: 8px;
    padding: 4px;
    margin-top: 4px;
  }
}



// .removeBtn {
//   margin-left: 2vh;
//   position: absolute;
//   margin-left: 30vh;
//   left: 0;
//   font-size: 7vh;
// }

.footer {
  align-self: flex-end;
  font-size: 2vh;
}

